<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div class="container-xxl flex-grow-1 container-p-y" layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center">
        <h3>Fakultas List</h3>
        <a th:href="@{~/fakultas/add}" class="btn btn-outline-info mb-3"><i class="bi bi-plus-square"></i>&nbsp;New Fakultas</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>No</th>
            <th>Code</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, stat : ${data}">
            <td th:text="${stat.index + 1}"></td>
            <td th:text="${item.code}"></td>
            <td th:text="${item.name}"></td>
            <td>
                <a th:href="@{~/fakultas/detail/{id}(id = ${item.id})}" class="btn btn-outline-primary">
                    <i class="bi bi-eye"></i>&nbsp;Detail
                </a>
                <a th:href="@{~/fakultas/edit/{id}(id = ${item.id})}" class="btn btn-outline-warning">
                    <i class="bi bi-pencil-square"></i>&nbsp;Edit
                </a>
                <a th:href="@{~/fakultas/delete/{id}(id = ${item.id})}" class="btn btn-outline-danger">
                    <i class="bi bi-trash3-fill"></i>&nbsp;Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>